<section class="steps" id="easy-steps">
  <div class="container easy-steps-container">
    <div class="easy-steps-text">
      <h2 class="easy-steps-title">3 Easy Steps for Buying Fresh Vegetables</h2>

      <ol class="easy-steps-list">
        <li class="easy-steps-item">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </li>
        <li class="easy-steps-item">
          Click on the basket and fill out the form.
        </li>
        <li class="easy-steps-item">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </li>
      </ol>
    </div>

    <div class="easy-steps-img">
      <img
        class="easy-steps-img-desk"
        srcset="./img/easy-steps/girl.png 1x, ./img/easy-steps/girl-x2.png 2x"
        src="./img/easy-steps/girl.png"
        alt=""
        width="434"
      />
      <img
        class="easy-steps-img-tab"
        srcset="
          ./img/easy-steps/girl-tab.png    1x,
          ./img/easy-steps/girl-tab-x2.png 2x
        "
        src="./img/easy-steps/girl-tab.png"
        alt=""
        width="350"
      />
      <img
        class="easy-steps-img-mob"
        srcset="
          ./img/easy-steps/girl-mob.png    1x,
          ./img/easy-steps/girl-mob-x2.png 2x
        "
        src="./img/easy-steps/girl-mob.png"
        alt=""
        width="258"
      />
    </div>
  </div>
</section>
