<footer class="footer">
    <div class="container footer-container">
        <div class="footer-main">
            <img srcset="./img/footer/footer-broccoli.jpg 1x, ./img/footer/footer-broccoli-2x.jpg 2x"
                src="./img/footer/footer-broccoli.jpg" alt="A tasty broccoli" class="footer-main-img">
            <a href="./index.html" class="footer-main-logo">
                <svg width="16" height="16">
                    <use href="../img/icons.svg#icon-logo"></use>
                </svg>
                veggieboost
            </a>
        </div>
        <nav>
            <ul class="footer-nav">
                <li><a href="">How It Works</a></li>
                <li><a href="">Vegetables</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </nav>
        <div class="footer-contacts">
            <ul class="footer-socials-list">
                <li>
                    <a href="" class="footer-socials-item">
                        <svg width="24" height="24" class="footer-socials-icon">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-socials-item">
                        <svg width="24" height="24" class="footer-socials-icon">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-socials-item">
                        <svg width="24" height="24" class="footer-socials-icon">
                            <use href="./img/icons.svg#icon-youtube"></use>

                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer-contact-info">
                <a href="tel:+380684439426" class="footer-phone"> +380 (68) 443-94-26 </a>
                <address>
                    1678 S. Pioneer Road <br>
                    Salt Lake City <br>
                    UT 84104 <br>

                </address>
            </div>
        </div>
</footer>