<footer class="footer">
  <div
    class="container footer-container"
    data-aos="fade-up"
    data-aos-duration="500"
  >
    <div class="footer-main">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/footer/footer-broccoli.jpg    1x,
            ./img/footer/footer-broccoli-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/footer/footer-broccoli-tablet-pc.jpg    1x,
            ./img/footer/footer-broccoli-tablet-pc-2x.jpg 2x
          "
        />
        <img
          src="./img/footer/footer-broccoli.jpg"
          alt="A tasty broccoli"
          class="footer-main-img"
        />
      </picture>

      <a href="./index.html" class="footer-main-logo">
        <svg width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        veggieboost
      </a>
    </div>
    <nav class="footer-nav-wrap">
      <ul class="footer-nav">
        <li><a href="#works">How It Works</a></li>
        <li><a href="#vegetables">Vegetables</a></li>
        <li><a href="#will">Contacts</a></li>
      </ul>
    </nav>
    <div class="footer-contacts">
      <ul class="footer-socials-list">
        <li>
          <a href="" class="footer-socials-item">
            <svg class="footer-socials-icon">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer-socials-item">
            <svg class="footer-socials-icon">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer-socials-item">
            <svg class="footer-socials-icon">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-contact-info">
        <a href="tel:+380684439426" class="footer-phone">
          +380 (68) 443-94-26
        </a>
        <address>
          1678 S. Pioneer Road <br />
          Salt Lake City <br />
          UT 84104 <br />
        </address>
      </div>
    </div>
  </div>
</footer>
