<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="/" class="header-logo-link"><span class="header-logo-span">
        <img src="../public/logo.svg" alt="header logo icon" width="16" height="16"/></span>
        Veggieboost
      </a>
    </nav>
    <button type="button" class="mob-menu-open">
      <svg class="mob-open-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mob-menu">
  <div class="mob-menu-container container">
    <div class="mob-menu-top">
      <a href="/" class="header-logo-link"><span class="header-logo-span">
        <img src="../public/logo.svg" alt="header logo icon" width="16" height="16"/></span>
        Veggieboost
      </a>
      <button type="button" class="mob-menu-close">
          <svg class="mob-close-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-basket"></use>
          </svg>
      </button>
    </div>
    <div class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">How It Works</li>
        <li class="mob-menu-item">Vegetables  </li>
        <li class="mob-menu-item">Contacts</li>
        <li class="mob-menu-item"><svg class="mob-menu-basket" width="24" height="24"><use href="../img/icons.svg#icon-basket"></use></svg> </li>
      </ul>
    </div>
  </div>
</div>
