<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="/" class="header-logo-link"><span class="header-logo-span">
        <img src="../public/logo.svg" alt="header logo icon" width="16" height="16"/></span>
        Veggieboost
      </a>
    </nav>
    <button type="button" class="mob-menu-open">
      <svg class="mob-open-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mob-menu">
    <div class="container">
        <div class="mob-menu-close"></div>
    </div>
</div>
