<section class="hero" id="hero">
  <div class="container">
    <div class="hero-left" data-aos="fade-up" data-aos-duration="2500">
      <ul class="hero-reviews-list">
        <li class="hero-reviews-item">
          <img
            srcset="./img/hero/reviews-1.png 1x, ./img/hero/reviews-1@2x.png 2x"
            src="./img/hero/reviews-1.png"
            alt="reviews image 1"
            width="44"
            height="44"
            class="hero-reviews-img"
          />
        </li>
        <li class="hero-reviews-item">
          <img
            srcset="./img/hero/reviews-2.png 1x, ./img/hero/reviews-2@2x.png 2x"
            src="./img/hero/reviews-2.png"
            alt="reviews image 2"
            width="44"
            height="44"
            class="hero-reviews-img"
          />
        </li>
        <li class="hero-reviews-item">
          <img
            srcset="./img/hero/reviews-3.png 1x, ./img/hero/reviews-3@2x.png 2x"
            src="./img/hero/reviews-3.png"
            alt="reviews image 3"
            width="44"
            height="44"
            class="hero-reviews-img"
          />
        </li>
        <li class="hero-reviews-item">
          <div class="hero-reviews-box">
            <span class="hero-reviews-box-top">2K</span>
            <span class="hero-reviews-box-bottom">reviews</span>
          </div>
        </li>
      </ul>
      <h1 class="hero-title">
        organic <span>vegetables</span> to your diet today!
      </h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="hero-btn" data-modal-open>shop now</button>
    </div>
    <div class="hero-right" data-aos="fade-down" data-aos-duration="2500">
      <!-- <div class="hero-img-block"> -->
      <picture class="hero-img">
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/hero-mobile.png    1x,
            ./img/hero/hero-mobile@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ./img/hero/hero-tablet.png    1x,
            ./img/hero/hero-tablet@2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/hero-desktop.png    1x,
            ./img/hero/hero-desktop@2x.png 2x
          "
        />
        <img src="./img/hero/hero-mobile.png" alt="girl with lettuce" />
      </picture>
      <!-- </div> -->
      <ul class="hero-tag-list">
        <li class="hero-tag-item">
          <a href="#hero" class="hero-tag-span">#organic</a>
        </li>
        <li class="hero-tag-item">
          <a href="#vegetables" class="hero-tag-span">#products</a>
        </li>
        <li class="hero-tag-item">
          <a href="#works" class="hero-tag-span">#basket</a>
        </li>
        <li class="hero-tag-item">
          <a href="#easy-steps" class="hero-tag-span">#vegetables</a>
        </li>
      </ul>
    </div>
  </div>
</section>
