<!-- Hrim Mariia -->
<section class="vegetables">
  <div class="conteiner">
    <!-- <div class="vegetables-conteiner"> -->
    <h3 class="vegetables-title">ORGANIC VEGATABLES</h3>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item">
        <p class="vegetables-item-text">Carrot</p>
        <p class="vegetables-item-text1">Plant</p>

        <img
          srcset="
                ./img/vegetables/carrot-mob-min.png 1x, ../img/vegetables/carrot-mob2x-min.png
                ./img/vegetables/
              "
          src="./img/vegetables/carrot-mob-min.png"
          class="vegetables-img"
          alt="Carrot"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">100 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Brussel sprouts</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/brussel-mob-min.png   1x,
            ./img/vegetables/brussel-mob2x-min.png 2x
          "
          src="./img/vegetables/brussel-mob-min.png"
          class="vegetables-img"
          alt="Brussel"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Tomato</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/tomato-mob-min.png   1x,
            ./img/vegetables/tomato-mob2x-min.png 2x
          "
          src="./img/vegetables/tomato-mob-min.png"
          class="vegetables-img"
          alt="Tomato"
          width="299"
          height="249"
        />
        <svg class="vegetables-icon">
          <use href="../img/vegetables/oval-defs.svg#icon-oval"></use>
        </svg>
        <p class="vegetables-item-text2">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Eggplant</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/eggplant-mob-min.png   1x,
            ./img/vegetables/eggplant-mob2x-min.png 2x
          "
          src="./img/vegetables/eggplant-mob-min.png"
          class="vegetables-img"
          alt="Eggplant"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">60 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Sweet potatoes</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/potatoes-mob-min.png   1x,
            ./img/vegetables/potatoes-mob2x-min.png 2x
          "
          src="./img/vegetables/potatoes-mob-min.png"
          class="vegetables-img"
          alt="potatoes"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Leek</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/leek-mob-min.png   1x,
            ./img/vegetables/leek-mob2x-min.png 2x
          "
          src="./img/vegetables/leek-mob-min.png"
          class="vegetables-img"
          alt="Leek"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">50 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Mushrooms</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/mushrooms-mob-min.png   1x,
            ./img/vegetables/mushrooms-mob2x-min.png 2x
          "
          src="./img/vegetables/mushrooms-mob-min.png"
          class="vegetables-img"
          alt="Mushrooms"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Corn</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/corn-mob-min.png   1x,
            ./img/vegetables/corn-mob2x-min.png 2x
          "
          src="./img/vegetables/corn-mob-min.png"
          class="vegetables-img"
          alt="Corn"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">60 UAH / kg</p>
      </li>
      <li class="vegetables-item-last">
        <p class="vegetables-item-text">Radish</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ./img/vegetables/radish-tab-min.png   1x,
            ./img/vegetables/radish-tab2x-min.png 2x
          "
          src="../img/vegetables/radish-tab-min.png"
          class="vegetables-img"
          alt="Radish"
          width="299"
          height="249"
        />

        <p class="vegetables-item-text2">90 UAH / kg</p>
      </li>
    </ul>

    <button type="button" class="vegetables-btn">
      <svg class="vegetables-vector">
        <use href="../img/vegetables/oval-defs.svg#icon-vector-4"></use></svg
      >ORDER
    </button>
  </div>
</section>
