<!-- Hrim Mariia -->
<section class="vegetables" id="vegetables">
  <div class="conteiner">
    <div class="vegetables-text-conteiner"></div>
    <h3 class="vegetables-title">ORGANIC VEGATABLES</h3>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-img-conteiner">
          <p class="vegetables-item-text">Carrot</p>
          <p class="vegetables-item-text1">Plant</p>
          <img
            srcset="
              ../img/vegetables/carrot-mob1x-min.png 1x,
              ../img/vegetables/carrot-mob2x-min.png 2x
            "
            src="../img/vegetables/carrot-mob1x-min.png"
            class="vegetables-img"
            alt="Carrot"
            width="292"
            height="223"
          />
          <svg class="vegetables-icon" width="195" height="38">
            <use href="../img/vegetables/oval-defs.svg#icon-oval"></use>
          </svg>
          <p class="vegetables-item-text2">100 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Brussel sprouts</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/brussel-mob1x-min.png 1x,
            ../img/vegetables/brussel-mob2x-min.png 2x
          "
          src="../img/vegetables/brussel-mob1x-min.png"
          class="vegetables-img"
          alt="Brussel"
          width="230"
          height="230"
        />
        <p class="vegetables-item-text2">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Tomato</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/tomato-mob1x-min.png 1x,
            ../img/vegetables/tomato-mob2x-min.png 2x
          "
          src="../img/vegetables/tomato-mob1x-min.png"
          class="vegetables-img"
          alt="Tomato"
          width="278"
          height="176"
        />
        <p class="vegetables-item-text2">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Eggplant</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/eggplant-mob1x-min.png 1x,
            ../img/vegetables/eggplant-mob2x-min.png 2x
          "
          src="../img/vegetables/eggplant-mob1x-min.png"
          class="vegetables-img"
          alt="Eggplant"
          width="194"
          height="193"
        />
        <p class="vegetables-item-text2">60 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Sweet potatoes</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/potatoes-mob1x-min.png 1x,
            ../img/vegetables/potatoes-mob2x-min.png 2x
          "
          src="../img/vegetables/potatoes-mob1x-min.png"
          class="vegetables-img"
          alt="potatoes"
          width="294"
          height="189"
        />
        <p class="vegetables-item-text2">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Leek</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/leek-mob1x-min.png 1x,
            ../img/vegetables/leek-mob2x-min.png 2x
          "
          src="../img/vegetables/leek-mob1x-min.png"
          class="vegetables-img"
          alt="Leek"
          width="284"
          height="198"
        />
        <p class="vegetables-item-text2">50 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Mushrooms</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/mushrooms-mob1x-min.png 1x,
            ../img/vegetables/mushrooms-mob2x-min.png 2x
          "
          src="../img/vegetables/mushrooms-mob1x-min.png"
          class="vegetables-img"
          alt="Mushrooms"
          width="325"
          height="183"
        />
        <p class="vegetables-item-text2">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Corn</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/corn-mob1x-min.png 1x,
            ../img/vegetables/corn-mob2x-min.png 2x
          "
          src="../img/vegetables/corn-mob1x-min.png"
          class="vegetables-img"
          alt="Corn"
          width="265"
          height="203"
        />
        <p class="vegetables-item-text2">60 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <p class="vegetables-item-text">Radish</p>
        <p class="vegetables-item-text1">Plant</p>
        <img
          srcset="
            ../img/vegetables/radish-tab1x-min.png 1x,
            ../img/vegetables/radish-tab2x-min.png 2x
          "
          src="../img/vegetables/radish-tab1x-min.png"
          class="vegetables-img"
          alt="Radish"
          width="316"
          height="181"
        />
        <svg class="vegetables-icon" width="195" height="38">
          <use href="../img/vegetables/oval-defs.svg#icon-oval"></use>
        </svg>
        <p class="vegetables-item-text2">90 UAH / kg</p>
      </li>
    </ul>

    <button type="button">ORDER</button>
  </div>
</section>
