<section class="will">
  <div class="container will-container">
    <div class="will-left">
      <div class="will-text">
        <h2 class="will-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
        <p class="will-lorem">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>
      </div>
      <div class="will-recall-form">
        <form class="will-form">
          <label for="recall" class="will-recall">
            <input
              name="recall"
              type="tel"
              id="recall"
              class="recall-iput"
              placeholder="+380 ()"
              pattern="[\+]\d{3}\s[\(]\d{9}[\)]"
              required
            />
          </label>
          <button class="will-button" type="submit">Recall</button>
        </form>
      </div>
    </div>

    <div class="will-background">
      <div class="will-girl">
        <img
          class="girl-img-mob"
          srcset="
            ./img/will-call/mob-girl-x1.png 1x,
            ./img/will-call/mob-girl-x1.png 2x
          "
          src="./img/will-call/mob-girl-x1.png"
          alt="image girl"
          width="335"
          height="357"
        />
        <img
          class="girl-img-tab"
          srcset="
            ./img/will-call/tab-girl-1x.png 1x,
            ./img/will-call/tab-girl-2x.png 2x
          "
          src="./img/will-call/tab-girl-1x.png"
          alt="image girl"
          width="629"
          height="446"
        />     
        <img
        class="girl-img-web"
        srcset="./img/will-call/web-girl-1x.png 1x, ./img/will-call/web-girl-2x.png 2x"
        src="./img/web-call/web-girl-1x.png"
        alt="image girl"
        width="525"
        height="499"
      />
      </div>
    </div>
  </div>
</section>
