.steps {
    max-width: 335px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.easy-steps-container {
    border-radius: 40px;
    background-color: var(--sand-background);
    background-image: radial-gradient(rgba(161, 196, 135, 0.25) 2.5px,
            transparent 0);
    background-size: 41px 41px;
    background-repeat: repeat;
    padding: 40px 20px 0 20px;
}

.easy-steps-text {

}

.easy-steps-title {
    color: var(--text-color);
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: var(--sub-title-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.easy-steps-list {
    counter-reset: myCounter;
    padding: 20px 40px 20px 0px;
    margin-bottom: -40px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    list-style-position: outside;
    margin: 0;
}

.easy-steps-item {
    list-style: none;
    position: relative;
    padding-left: 53px;
    max-width: 228px;
    color: var(--text-color);
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0;
}

.easy-steps-item:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: var(--text-color);
    background-color: var(--green-background);
    border-radius: 50%;
    display: block;
    position: absolute;
    text-align: center;
    line-height: 38px;
    width: 38px;
    height: 38px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 18px;
}

<<<<<<< Updated upstream
.easy-steps-img {

=======
.easy-steps-item:hover {
    transform: scale(1.05);
>>>>>>> Stashed changes
}

.easy-steps-img-desk {
    display: none;
}

.easy-steps-img-tab {
    display: none;
}

.easy-steps-img-mob {
    margin: 0 auto;
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {
    .steps {
        max-width: 704px;
    }

    .easy-steps-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        padding-left: 0;
        border-radius: 80px;
    }

    .easy-steps-text {
        margin-right: 40px;
        width: 274px;
        padding-top: 40px;

    }

    .easy-steps-title {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -1.12px;
    }

    .easy-steps-img {
        width: 350px;
        height: 446px;
    }

    .easy-steps-img-mob {
        display: none;
    }

    .easy-steps-img-tab {
        display: flex;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .steps {
        max-width: 1216px;
    }

    .easy-steps-container {
        gap: 110px;
    }

    .easy-steps-text {
        margin-right: 60px;
        width: 512px;
    }

    .easy-steps-title {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -1.6px;
    }

    .easy-steps-item {
        max-width: 349px;
    }

    .easy-steps-img {
        width: 434px;
        height: 420px;
    }

    .easy-steps-img-tab {
        display: none;
    }

    .easy-steps-img-desk {
        display: block;
    }
}