.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-icon {
  fill: var(--green-icons);
  margin-right: 8px;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-link {
  display: flex;
  color: var(--text-color);
  font-family: var(--title-font);
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-menu-list {
  display: none;
}

.header-btn {
  display: none;
}

.mob-menu-open {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-open-icon {
  fill: var(--green-icons);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--green-background);
  display: flex;
  flex-direction: column;
  overflow: auto;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.mob-menu.is-hidden {
  transform: translateX(50%);
}
.mob-menu-top {
  margin-bottom: 124px;
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
}

.mob-menu-close {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  stroke: var(--green-icons);
}

.mob-menu-nav {
  display: flex;
}
.mob-menu-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  color: var(--background-color);
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.mob-menu-link{
  /* color: var(--text-color); */
  transition: color 250ms ease-in-out;
  line-height: 1.28;
  letter-spacing: -0.56px;
}
.mob-menu-link:hover,
.mob-menu-link:focus{
  color: var(--green-background);
}

.mob-menu-basket {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.mob-menu-svg {
  stroke: var(--background-color);
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-menu-list {
    display: flex;
    flex-direction: row;
    gap: 14px;
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--main-font);
    line-height: 1.29;
    letter-spacing: -0.56px;
    margin-right: 86px;
  }

  .mob-menu-open {
    display: none;
  }

  .header-btn {
    display: block;
    border: none;
    background-color: transparent;
  }
  .header-btn-icon {
    stroke: var(--text-color);
    fill: transparent;
    transition: stroke 250ms ease-in-out;
  }
  .header-btn-icon:hover,
  .header-btn-icon:focus{
    stroke: var(--green-background);
  }
}
@media screen and (min-width: 1280px) {
  .header-btn {
    width: 24px;
    height: 24px;
  }
  .header-menu-list {
    margin-right: 308px;
  }
  .container {
    max-width: 1280px;
  }
}
