.backdrop{position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    overflow-y: scroll;}
.modal{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0) scale(1);
    width: calc(100% - 40px);
    max-height: 903px;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.modal-close-btn {position: absolute;
    display: flex;
    right: 20px;
    top: 22px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    stroke: var(--text-color);
}
.modal-close-icon {
}
.modal-title {
    margin-bottom: 40px;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: var(main-font/sub-title-font/title-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--text-color);
}

.modal-products-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.modal-products-item {
    background-color: var(--sand-background);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
    height: 119px;
    position: relative;
}
.modal-check {
}
.modal-check img {position: absolute;
    bottom: 8px;
    right: 15px
}

.check-custom {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--green-background);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    }
.check-icon{width: 6px;
    height: 6px}
.products-check:checked + .check-block span {
    fill: var(--green-background)
}

.modal-subtitle {
    font-size: 18px;
    font-family: var(main-font/sub-title-font/title-font);
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.04em;
    margin-bottom: 2px;
    color: var(--text-color);
    }
.modal-text {  
    font-size: 14px;
    font-family: var(main-font/sub-title-font/title-font);
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-color);
}
.modal-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;}
.modal-input {width: 100%;
    height: 46px;
    border-radius: 100px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;
    outline: transparent;
    margin-bottom: 14px;
    font-size: 14px;
    font-family: var(main-font/sub-title-font/title-font);
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: rgba(20, 20, 20, 0.50);
    }
.modal-textarea {width: 100%;
    height: 132px;
    border-radius: 20px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    padding: 14px 24px;
    background-color: transparent;
    resize: none;
    font-size: 14px;
    font-family: var(main-font/sub-title-font/title-font);
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: rgba(20, 20, 20, 0.50);
    outline: transparent;
    display: block;
}
.modal-submit-btn {font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--white-color);
    cursor: pointer;
    background: var(--orange-background);
    border: none;
    border-radius: 100px;
    text-transform: capitalize;
    min-width: 92px;
    padding: 12px 24px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}


@media screen and (min-width: 375px) {
    .modal{
        width: 335px;
    }
    .modal-check img {
        right: 30px
    }
}


/* ---------------------TABLET--------------- */

@media screen and (min-width: 768px) {
    .modal{
        width: 704px;
        min-height: 853px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        padding: 40px;
        background-image: 
          url(../img/modal-img/girl-with-cabbage.png);
                background-repeat: no-repeat;
                background-position: 154% 110%;
    }
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {background-image: url(../img/modal-img/girl-with-cabbage-2x.png);
  }
    .modal-close-btn {
        right: 20px;
        top: 20px;
        width: 28px;
        height: 28px;
    }
    .modal-title {
        font-size: 40px;
        line-height: 1.1;
    }
    .modal-products-list {
        flex-direction: row;
        gap: 12px;
        margin-bottom: 40px;
    }
    .modal-products-item {
        padding-top: 40px;
        width: calc((100%-2*12px)/3);
        height: 250px;
        position: relative;
    }
    .modal-check img {position: absolute;
        bottom: 14px;

    }
    .check-custom {
        width: 20px;
        height: 20px;
    }
    
    .check-block img {display: block;
        margin: 0 auto;
    }

    .check-icon{
        width: 8px;
        height: 8px
    }

    .products-check:checked + .check-block span {
        fill: var(--green-background)
    }
        
    .modal-text {
        margin-bottom: 10px;
    }
    
    .modal-input {
        width: 360px;
        height: 48px;
    }
    .modal-textarea {
        width: 360px;
        height: 145px;
    }
    .modal-submit-btn {
        min-width: 114px;
        padding: 15px 35px;
        margin: 0 auto;
    }
    
}

/* ---------------------DESKTOP--------------- */

@media screen and (min-width: 1280px) {
    .modal{
        width: 891px;
        min-height: 911px;
        background-position: 107% 100%;
    }
    
    .modal-products-list {
        flex-direction: row;
        gap: 20px;
    }
    .modal-products-item {
        width: calc((100%-2*20px)/3);
        height: 308px;
    }
    .modal-subtitle {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 8px;
        }

    .modal-text {
        margin-bottom: 0;
    } 
}
}