:root {
  --text-color: #141414;
  --background-color: #ffffff;
  --white-color: #ffffff;
  --green-background: #a1c487;
  --light-green-background: #eaf7e5;
  --orange-background: #fc8a11;
  --sand-background: #faf3e7;
  --gray-color: #f3f3f3;
  --main-font: 'DM Sans Regular', sans-serif; /*400 font weight*/
  --sub-title-font: 'DM Sans Medium', sans-serif; /*500*/
  --sub-title-italic-font: 'DM Sans Medium Italic', sans-serif;
  --title-font: 'DM Sans Bold', sans-serif; /*700*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
