.vegetables {
  background-color: var(--background-color);
  padding-top: 80px;
  min-width: 320px;
}
.vegetables-text-conteiner {
  width: 335px;
  margin: 0 auto;
}
.vegetables-title {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: var(--sub-title-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.vegetables-text {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
  max-width: 335px;
  margin: 0 auto;
}

.vegetables-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.vegetables-item {
  /* width: calc((100% - 20px * 8) / 9); */
  width: 335px;
  height: 443px;
  border-radius: 20px;
  background: #eaf7e5;
}
.vegetables-item-text {
  color: #141414;
  font-family: var(--title-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.96px;
  padding-top: 40px;
  padding-left: 20px;
}
.vegetables-item-text1 {
  color: #141414;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 8px;
  padding-left: 20px;
  margin-bottom: 40px;
}
.vegetables-img {
  max-width: 299px;
  min-height: 249px;
  margin: 0 auto;
  display: block;
  /* display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* position: relative; */
}
.vegetables-item-last {
  display: none;
}
.vegetables-item-text2 {
  color: #141414;
  font-family: var(--sub-title-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.vegetables-icon {
  width: 251px;
  height: 94px;
  flex-shrink: 0;
  fill: #141414;
  opacity: 0.1;
  filter: blur(13.6px);
  /* display: flex;
  margin: 0 auto; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vegetables-btn {
  background-color: var(--orange-background);
  color: var(--white-color);
  border: none;
  width: 80px;
  height: 80px;
  transform: rotate(-14deg);
  border-radius: 50%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  font-family: var(--sub-title-font);
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.vegetables-vector {
  width: 14px;
  height: 14px;
  fill: var(--white-color);
  margin-right: 4px;
}
.vegetables-btn:focus {
  background-color: var(--green-background);
}

/***************************** media********************************/
@media screen and (min-width: 768px) {
  .vegetables {
    /* min-width: 768px; */
    padding-top: 100px;
  }
  .vegetables-text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 562px;
  }
  .vegetables-img {
    width: 321px;
    height: 261px;
    margin: 0 auto;
    display: block;
  }
  .vegetables-item {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .vegetables {
    min-width: 1280px;
    padding-top: 100px;
  }
  .vegetables-text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 562px;
  }
  .vegetables-img {
    width: 321px;
    height: 261px;
    margin: 0 auto;
    display: block;
  }
  .vegetables-item {
    width: calc((100% - 48px) / 3);
  }
  .vegetables-item-last {
    width: 389px;
    height: 443px;
    border-radius: 20px;
    background: #eaf7e5;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .vegetables-list {
    gap: 24px;
  }
  .vegetables-btn {
    margin-top: 40px;
  }
}
