.will {
  padding-top: 80px;
  padding-bottom: 80px;
  min-width: 320px;
}
.will-title {
  font-family: var(--sub-title-font);
  color: var(--text-color);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  max-width: 323px;
  margin-bottom: 20px;
}
.will-text {
  font-family: var(--main-font);
  display: block;
  margin: 0 auto;
  color: var(--text-color);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  max-width: 321px;
  margin-bottom: 40px;
}
.will-recall-form {
  position: relative;
  margin-bottom: 40px;
  justify-content: center;
}

.recall-iput {
  padding-left: 24px;
  width: 100%;

  height: 48px;
  border-radius: 100px;
  border: 1px solid var(--text-color);
  opacity: 0.30000001192092896;
}
.will-button {
  font-family: var(--main-font);
  position: absolute;
  margin-left: -105px;
  padding: 15px 35px;
  border-radius: 100px;
  background: #fc8a11;
  border: none;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px; 
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.will-button:is(:hover, :focus) {
  background-color: var(--green-background);
}
.will-background {
  height: 388px;
  display: flex;
  align-items: end;
  border-radius: 40px;
  position: relative;
  background-color: var(--sand-background);
  background-image: radial-gradient(
    rgba(161, 196, 135, 0.31) 2.5px,
    transparent 0
  );
  background-size: 41px 41px;
  background-repeat: repeat;
  margin: 0 auto;
}
/* .will-background {
  height: 388px;
  display: flex;
  align-items: end;
  border-radius: 40px;
  position: relative;
  background-color: var(--sand-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 5'%3E%3Ccircle cx='2.5' cy='2.5' r='0.3' fill='%23a1c487' fill-opacity='0.31' /%3E%3C/svg%3E");
  background-size: 41px 41px;
  background-repeat: repeat;
  margin: 0 auto;
} */
.will-girl {
  width: 335px;
  height: 357px;
}

@media screen and (max-width: 767px) {
  .girl-img-tab {
    display: none;
  }
  .girl-img-web{
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .girl-img-mob {
    display: none;
  }
  .girl-img-web{
    display: none;
  }
  .will {
    max-width: 768px;
    margin: 0 auto;
  }
  .will {
    padding-top: 100px;
    padding-bottom: 173px;
  }
  .will-title {
    font-family: var(--sub-title-font);
    text-align: start;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.6px;
    max-width: 524px;
  }
  .will-text {
    font-family: var(--main-font);
    text-align: start;
    max-width: 499px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .will-recall-form {
    margin-bottom: 80px;
  }
  .recall-iput {
    width: 350px;
    margin-left: 189.5px;
  }
  .will-girl {
    width: 704px;
    height: 463px;
  }

  .girl-img-tab {
    display: block;
    margin: 0 auto;
    margin-top: 17px;
  }
  .will-background {
    width: 704px;
    height: 463px;
  }
}
@media screen and (min-width: 1280px) {
  .will {
    padding-top: 124px;
    padding-bottom: 124px;
  }
  .will-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .girl-img-tab {
    display: none;
  }
  .girl-img-mob {
    display: none;
  }
  .will {
    max-width: 1216px;
    margin: 0 auto;
  }
  .will-left {
    align-self: center;
    
  }
  .will-text {
   
    max-width: 614px;

  }
.will-title {
  font-family: var(--sub-title-font);
  text-align: start;  
  max-width: 590px;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 1.04;
letter-spacing: -1.92px;
text-transform: uppercase;
margin: 0;
}

  .will-lorem {
    font-family: var(--main-font);
    width: 523px;   
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.72px; 
    text-align: start;
    margin-bottom: 80px;
  }
  .will-girl {
    width: 525px;
    height: 499px;
  }
  .will-title {
    margin-bottom: 40px;
  }

  .will-recall-form {
    width: 350px;
    align-self: self-end;

    margin-bottom: 0;
  }
  .will-background {
    width: 525px;
    height: 536px;
    margin-right:  0;
  }

}
